body { padding-top: 70px; }

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

.controlsbar {
    top: 50px;
}

tr.playing {
    background-color: #98FB98;
}

tr {
    padding-top:190px;
    margin-top:-190px;
}

.songlink:target {
    margin-top: -90px;
    padding-top: 90px;
    box-shadow: none;
}

.nowplaying {
    text-overflow: ellipsis;
}
